<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>Exemplo com safe</title>
    </head>
    <body>
        <h1>Colocando diretamente pelo Jinja2:</h1>
        <p>{{conteudo_1}}</p>
        <p>{{conteudo_2}}</p>

        <h1>Adicionando o safe:</h1>
        <p>{{conteudo_1 | safe}}</p>
        <p>{{conteudo_2 | safe}}</p>

        <h1>Adicionando o safe só em um deles:</h1>
        <p>{{conteudo_1 | safe}}</p>
        <p>{{conteudo_2}}</p>
    </body>
</html>